
body {    
    background-image: url("/Users/chilliesause/Desktop/MyWebsite/content/test2.jpg");
    background-color: white;
    background-repeat: no-repeat;

}

h1{
    color: white;
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h5{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box a li{
    color: white;
    text-decoration: none;
    font-size: 60px;
}
